[submodule "3rdParty/ggml"]
	path = 3rdParty/ggml
	url = https://github.com/ggml-org/ggml
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdParty/SDL"]
	path = 3rdParty/SDL
	url = https://github.com/libsdl-org/SDL
